.events{
    display: flex;
    flex-direction: column;
    flex:8;

    padding-left: 20px;
    padding-right: 20px;
    height: 200px;
    padding-top:20px;
    display: flex;
}

.new-event{
    display: flex;
    flex-direction: column;
    flex:3;

    padding-left: 150px;
    height: 100%;
    align-self: center;
    justify-self: center;
    padding-right:0px;
    padding-top: 60px;
}

.container-events{
    display: flex;
    flex:11;
    flex-direction: row;
    
}
