.form-create {
    background: lightblue;
    width: 600px;
    height:500px;
    align-self: center;
    padding-top: 5vh;
    font-family: sans-serif;
    box-shadow: 14px 14px 19px -1px rgba(0,0,0,0.75);
}
